---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div class="container" >
     <div  class="archive__subtitle" id="archives">
         browse by <a title="The complete archive of {{ site.name }}'s Blog by category"
                         href="{{ site.url}}{{ site.baseurl }}/categoryview">category</a>
     </div>
 </div>
