---
layout: archive
---

<div class="archive__subtitle" >
     <div style="text-align: left;">
     <h3>{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
     </div>
     <div style="text-align: right;" id="archives">
         browse by <a title="The complete archive of {{ site.name }}'s Blog by category"
                         href="{{ site.url}}{{ site.baseurl }}/categoryview">category</a>
     </div>
 </div>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


