---
layout: archive
---

<div style="display: flex; flex: 1; justify-content: space-between;color: red;" class="archive__subtitle" >
     
     <span style="text-align: left;">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</span>
      <span style="text-align: right;" id="archives">
         browse by <a title="The complete archive of {{ site.name }}'s Blog by category"
                         href="{{ site.url}}{{ site.baseurl }}/categoryview">category</a>
     </span>

 </div>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


